.ant-form-item-label {
  line-height: 15px;
}

.ant-table-placeholder,
.ant-table-thead > tr > th {
  background: transparent;
}

.ant-table-title {
  padding: 14px 0 4px 0;
}

.ant-table-thead > tr > th {
  color: #959EB3;
  border-bottom: none;
  text-transform: uppercase;
}

.ant-form-item {
  margin-bottom: 5px;
}

.ant-form-item-label label {
  font-family: "Muli";
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #959eb3;
}

.ant-layout {
  min-height: 100%;
  background-color: #f5f8fb;
}

.ant-layout-content {
  overflow: overlay;
}

.ant-card {
  font-family: 'Muli', sans-serif;
}

.ant-card-body {
  padding: 18px 22px;
}

table {
  border: 0;
  padding: 0 !important;
}

.ant-table-thead > tr > th {
  color: #959eb3;
}

.ant-table-placeholder,
.ant-table-thead > tr > th {
  background: transparent;
}

.ant-table-small
  > .ant-table-content
  > .ant-table-header
  > table
  > .ant-table-thead
  > tr
  > th,
.ant-table-small
  > .ant-table-content
  > .ant-table-body
  > table
  > .ant-table-thead
  > tr
  > th,
.ant-table-small
  > .ant-table-content
  > .ant-table-scroll
  > .ant-table-header
  > table
  > .ant-table-thead
  > tr
  > th,
.ant-table-small
  > .ant-table-content
  > .ant-table-scroll
  > .ant-table-body
  > table
  > .ant-table-thead
  > tr
  > th,
.ant-table-small
  > .ant-table-content
  > .ant-table-fixed-left
  > .ant-table-header
  > table
  > .ant-table-thead
  > tr
  > th,
.ant-table-small
  > .ant-table-content
  > .ant-table-fixed-right
  > .ant-table-header
  > table
  > .ant-table-thead
  > tr
  > th,
.ant-table-small
  > .ant-table-content
  > .ant-table-fixed-left
  > .ant-table-body-outer
  > .ant-table-body-inner
  > table
  > .ant-table-thead
  > tr
  > th,
.ant-table-small
  > .ant-table-content
  > .ant-table-fixed-right
  > .ant-table-body-outer
  > .ant-table-body-inner
  > table
  > .ant-table-thead
  > tr
  > th {
  background: transparent;
}

.ant-modal-info-full-width,
.ant-modal-full-width .ant-modal {
  width: 90% !important;
  max-width: 1000px !important;
}

.ant-modal-title {
  font-family: "Muli";
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 24px;
  color: #123898;
}

.ant-btn-primary {
  background-color: #123898;
  border-color: #123898;
  border-radius: 8px;
  font-weight: 600;
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
  color: #123898;
  background-color: #fff;
  border-color: #123898;
}

.ant-layout-footer {
  background-color: #fff;
}

.ant-form label {
  font-size: 19px;
  font-family: 'Muli';
}

.ant-layout-sider-children{
  width: inherit;
}