body {
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif !important;
  height: 100%;
  background-color: #F5F8FB;
}

#root {
  height: 100%;
}

.hoverDetector:hover .showOnHower {
  visibility: visible;
}

.showOnHower {
  visibility: hidden;
}

.table-even,
.table-odd {
  color: #39435B;
  font-weight: lighter;
}

.table-even td, .table-odd td, .table th {
  border-bottom: none !important;
}

.table th {
  padding-top: 0 !important;
}

.table-even {
  background-color: #F5F8FB;
}

.table-odd {
  background-color: #EBEEF3;
}

.empty-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
}

.content-wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.header-wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 20px 0;
}

@import "auth.css"
