body {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  height: 100%;
}
#root {
  height: 100%;
}

.ant-layout-footer {
  padding: 20px 30px 0px 20px;
}

.pointer {
  cursor: pointer;
}

.hoverDetector:hover .showOnHower {
  visibility: visible;
}

.showOnHower {
  visibility: hidden;
}

.content-wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.header-wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 20px 0;
}

.table-even,
.table-odd {
  color: #39435B;
  font-weight: lighter;
}

.table-even td, .table-odd td, .table th {
  border-bottom: none !important;
}

.table th {
  padding-top: 0 !important;
}

.table-even {
  background-color: #F5F8FB;
}

.table-odd {
  background-color: #EBEEF3;
}
