.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 28px;
  font-weight: 200;
  letter-spacing: 2px;
  color: #41579C;
}

.actions {
  display: flex;
  align-items: flex-end;
}
