.ant-form-item-label {
  line-height: 15px;
}

.ant-form-item {
  margin-bottom: 5px;
}

.ant-layout {
  min-height: 100%;
  background-color: #F5F8FB;
}

.ant-card {
  font-family: 'Muli', sans-serif;
}

.ant-card-body {
  padding: 18px 22px;
}

.ant-layout-content {
  overflow: overlay;
}

table {
  border: 0;
  padding: 0 !important;
}

.ant-table-placeholder,
.ant-table-thead > tr > th {
  background: transparent;
  border-bottom: none;
  text-transform: uppercase;
}

.ant-table-title {
  padding: 14px 0 4px 0;
}

.ant-table-thead > tr > th {
  color: #959eb3;
}

.ant-table-placeholder,
.ant-table-thead > tr > th {
  background: transparent;
}

.ant-table-small
  > .ant-table-content
  > .ant-table-header
  > table
  > .ant-table-thead
  > tr
  > th,
.ant-table-small
  > .ant-table-content
  > .ant-table-body
  > table
  > .ant-table-thead
  > tr
  > th,
.ant-table-small
  > .ant-table-content
  > .ant-table-scroll
  > .ant-table-header
  > table
  > .ant-table-thead
  > tr
  > th,
.ant-table-small
  > .ant-table-content
  > .ant-table-scroll
  > .ant-table-body
  > table
  > .ant-table-thead
  > tr
  > th,
.ant-table-small
  > .ant-table-content
  > .ant-table-fixed-left
  > .ant-table-header
  > table
  > .ant-table-thead
  > tr
  > th,
.ant-table-small
  > .ant-table-content
  > .ant-table-fixed-right
  > .ant-table-header
  > table
  > .ant-table-thead
  > tr
  > th,
.ant-table-small
  > .ant-table-content
  > .ant-table-fixed-left
  > .ant-table-body-outer
  > .ant-table-body-inner
  > table
  > .ant-table-thead
  > tr
  > th,
.ant-table-small
  > .ant-table-content
  > .ant-table-fixed-right
  > .ant-table-body-outer
  > .ant-table-body-inner
  > table
  > .ant-table-thead
  > tr
  > th {
  background: transparent;
}

.ant-btn-primary {
  background-color: #123898;
  border-color: #123898;
  border-radius: 8px;
  font-weight: 600;
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
  color: #123898;
  background-color: #fff;
  border-color: #123898;
}

.ant-layout-footer {
  background-color: #fff;
}

.ant-form label {
  line-height: 15px;
  font-family: "Muli";
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 19px;
  color: #39435b;
}

.ant-layout-sider-children{
  width: inherit;
}
