.layout {
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
}

.contentTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.contentTitle {
  font-size: 27px;
  color: rgb(18, 56, 152);
}

_::-webkit-full-page-media,
_:future,
:root .index {
  background-color: rgb(24, 39, 76);
}

.index {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  background-color: rgba(24, 39, 76);
  padding-bottom: 5px;
  padding-top: 10px;
}
